
.hero-wrapper{
    color: #fff;
    position: relative;
    padding-bottom: 2rem;
}
.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}

.hero-left{
    gap: 3rem;
    padding-left: 7%;
}
.hero-right{
    padding-right: 7%;
}

.hero-title{
    position: relative;
    z-index: 1;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}
.orange-circle{
    height: 4rem;
    width: 4rem;
    background: var(--blue-gradient);
    border-radius: 999px;
    position: absolute;
    right: 48%;
    top: -10px;
    z-index: -1;
}

.search-bar{
    background-color: #131110;
    border-radius: 5px;
    /* border: 3px solid rgba(120, 120, 120, 0.374); */
    padding: .8rem 1rem;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30%;
    font-size: 1.2rem;
}
.search-bar i{
    font-size: 1.2rem;
}
.search-bar> input{
    border: none;
    outline: none;
    box-shadow: none;
}
/* .search-bar button{
    padding: 0.7rem;
} */


.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container>img{
    width: 100%;
    height: 100%;
}


@media (max-width: 640px) {
    .hero-container{
        margin-top: 2rem;
    }
    .hero-title>h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .image-container{
        width: 95%;
        height: 25rem;
    }
    .stats{
        justify-content: center;
        gap: 1.5rem;
    }
    .hero-right{
        width: 100%;
    }
    .stat>:nth-child(1){
        font-size: 1.5rem;
    }
    .stat>:nth-child(2)
    {
        font-size: 0.8rem;
    }
    .search-bar {
     display: none;
    }

}
.glow-on-hover {
    padding: 0.6rem 3.8rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.glow-on-hover:active {
    color: #000
}
.glow-on-hover:hover {
    scale: 1.1;
    transition: 1s;
}
.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 30px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.glow-on-hover2 {
    padding: 0.6rem 3.8rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.glow-on-hover2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.glow-on-hover2:active {
    color: #000
}
.glow-on-hover2:hover {
    scale: 1.1;
    transition: 1s;
}
.glow-on-hover2:active:after {
    background: transparent;
}

.glow-on-hover2:hover:before {
    opacity: 1;
}

.glow-on-hover2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 5px;
}