.login__app {
  display: flex;
    height: 100%;
    background: url("../assets/images/br.jpg");
  }
  .login__app1 {

    height: 100%;
    background: url("../assets/images/br.jpg");

  }

  .regis__app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    background: url("../assets/images/br.jpg");
    background-size: cover;
    background-position: center;
  }
  .hero-left{
    gap: 3rem;
    padding-left: 10%;
}
.hero-right{
    padding-right: 10%;
}
  .regis1__app {
    display: flex;    align-items: center;
    justify-content: center;
    height: 80vh;
    background: url("../assets/images/br.jpg");
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-color: #01ceee;
  }
  .regis2__app {
    margin-top: 100px;
    display: flex;    align-items: center;
    justify-content: center;
    height: 50vh;
    
  }

.form__login{
    padding: 0px 60px;
    height: 100%;
    
    
}
.form__imglogin{
  background-color: white;
  border-radius: 10px;
  padding-right: 30px;
}
.image-containerr{
  width: 30rem;
  overflow: hidden;
}
.image-containerr img{
  width: 100%;
}
.h1__login{
    color: #304352;
    text-align: center;
}

.btn__login{
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    color: white;
    background-color: #488cfb;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    
}
.btn__login2{
  width: 320px;
  height: 50px;
  padding: 10px;
  border: none;
  color: white;
  background-color: #488cfb;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  
}
.btn__loginchatbot{
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: #304352;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 27px;
  
}

.btn__register{
  width: 280px;
  height: 10px;
  border: none;
  color: #304352;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 60px;
}

