.login__app {

    height: 60vh;
    background: #fff;
  }

  .regis__app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    background: linear-gradient(to right, #bbd5de, #076585);
    background-size: cover;
    background-position: center;
  }
  .hero-left{
    gap: 3rem;
    padding-left: 10%;
}
.hero-right{
    padding-right: 10%;
}
  .regis1__app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: #fff;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }
  .regis2__app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background: #fff;

    background-size: cover;
    background-position: center;
  }

.form__login{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
    width: 30rem;
    height: 20rem;
    padding-top: 20px;
    
    
}
.form__imglogin{
  background-color: white;
  border-radius: 10px;
  padding-right: 30px;
}
.image-containerr{
  width: 30rem;
  height: 35rem;
  overflow: hidden;
}
.image-containerr img{
  width: 100%;
}
.h1__login{
    color: #304352;
    text-align: center;
}

.btn__login{
    width: 320px;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #304352;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    
}
.btn__loginchatbot{
  width: 320px;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #304352;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 27px;
  
}

.btn__register{
  width: 280px;
  height: 10px;
  border: none;
  background-color: #fff;
  color: #304352;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 75px;
}