.auth__form {
    background: var(--card-bg-03);
    padding: 40px;
    border-radius: 5px;
}

.auth__btn {
    background: #242121 !important;
    color: var(--primary-color);
    font-weight: 600;
}
.form__group,
.auth__form p{
    margin-top: 30px;
}

.auth__form p a {
    color: rgba(255, 255, 255, 0.735);
}
.auth__form input[type='file']{
    color: #fff;
    cursor: pointer;
}

.buy__btn {
    background: var(--primary-color);
    color: #fff !;
}