.product__item {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 5px 5px 15px -5px  #464444 ;
    margin: 3px;
    background: #fff;
    margin-top: 20px;
}

.product__img img{
    border-radius: 20px;
}
.product__img{
    height: 300px;
    width: 300px;
}
.product__info h3 a{
    font-size: 1.2rem;
    color: #000000;
    font-weight: 600;
    margin-top: 15px;
}

.product__info a:hover{
    color: inherit;
    
}

.product__card-bottom .price {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.product__card-bottom span p {
    font-size: 0.75rem;
    padding: 5px;
    background: #076585;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    font-style: normal;
}

@media screen and (max-width: 992px){
    .product__info h3 a{
        font-size: 1.1rem;
    }
}
@media screen and (max-width:768px){
    .product__info h3 a {
        font-size: 1rem;
    }
    .product__card-bottom span i {
        font-size: 1rem;
    }
}
.toast.message{
    background: #fff;
}