.product__details {
    margin: 20px 20px;
    padding: 0px;
    border-radius: 20px;
    margin-top: 70px;
}
.read-or-hide{
    color: #131110;
    cursor: pointer;
  }
.product__details h2 {
    color: var(--primary-color);
}
.section__product{
    padding-bottom: 60px;

}
.section__product img{
    margin: 20px 20px;
    margin-top: 70px;
    border-radius: 20px;
    background: #bbd5de;
    height: 20rem;
    width: 30rem;
}

.text {
    text-align: justify-center;
    color: #131110;
}
.text h2{
    font-size: 1.2rem;
}
.text p{
    color: #131110;
    font-style: bold;
}
 .text ol> li {
    font-size: 0.9rem;
    font-weight: 100;
    color: #131110;
    list-style: circle inside;
}

.product__details .text h2{
    font-size: 1.2rem;
}
.product__details .text li{
    font-size: 0.9rem;
}

.form__group::-webkit-scrollbar{
    display: none;
}

.product__details h2{
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 900;
}

.product__rating span i{
    color: rgb(255, 208, 80);
}

.product__rating p span {
    color: coral;
    font-weight: 500;
}

.product__price{
    font-size: 2rem;
    font-weight: 900;
    color: #df2020;
    letter-spacing: 5px;
}

.tab__wrapper {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.active__tab {
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    background: #076585;
    color: #fff;
}

.tab__content p{
    line-height: 30px;
}

.review__wrapper ul li span{
    color: coral;
    font-weight: 600;
}
.review__wrapper ul li p{
    margin-top: 10px;
}

.review__form{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.review__form h4{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.form__group input, .form__group textarea{
    width: 100%;
    border-radius: 5px;
    padding: 8px 20px;
    box-shadow: 5px 5px 15px -5px #ffffff27;
    border: 1px solid #ddd;

}
.form__group textarea::-webkit-scrollbar{
    display: none;
}

.form__group input:focus, .form__group textarea:focus{
    outline: none;
}

.form__group{
    margin-bottom: 30px;
}

.form__group span{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: coral;
    font-weight: 600;
    cursor: pointer;
}

.related__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}
.bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }  
@media only screen and (max-width: 768px){
    .product__details h2 {
        font-size: 1.3rem;
    }
    .rating__group {
        column-gap: 1rem !important
    }
}