.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(136, 160, 255, 0.46) 217.91%
    );


}

.footer__logo img {
    width: calc(100% - 80%);
    margin-bottom: 5px;
}
.footer__logo h5{
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
    color: #1f3e72;
}
.footer h5{
    color: #1f3e72;
    margin-bottom: 20px;
}
.footer__logo p {
    font-size: 0.9rem;
    color: #1f3e72;
    line-height: 28px;
}

.delivery__time-item {
    background: transparent !important;
}

.delivery__time-item span{
    font-weight: 600;
    font-size: 1rem;
    color: #1f3e72;
}
.delivery__time-item p{
    color: #1f3e72;
}
.footer_title {
    font-size: 1.1rem;
    color: #1f3e72;
    font-weight: 600;
}
.newsletter   {
    padding: 7px 10px;
    background: transparent;
    border: 1px solid #1f3e72;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.newsletter input {
    background: transparent;
    border: none;
    outline: none;
    color: #1f3e72;
}
.newsletter input:focus{
    outline: none;
}
.newsletter span{
    background: #1f3e72;
    padding: 3px 1px;
    border-radius: 5px;
}
.sub {
    color: #1f3e72;
}
.newsletter span i {
    color: #212245;
    padding: 5px 10px;
    border-radius: 5px;
}
.newsletter input::placeholder {
    color: #304352;
}
.social__links p {
    color: #1f3e72;
}
.social__links span i {
    padding: 5px;
    font-size: 1.1rem;
    background: #1f3e72;
    color: #fff;
    border-radius: 50%;
}
.copyright__text {
    font-size: 0.8rem;
    color:#1f3e72;
}